* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** UTILS **/

body {
    font-family: Helvetica, sans-serif;
}

.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.card {
    width: calc(100% / 3 - 30px);
    margin: 75px 10px 0 0;
}

.card-media {
    position: relative;
}

.price {
    display: inline-block;
    font-size: 1.1rem;
    color: red;
}

.price.line-through {
    color: black;
    text-decoration: line-through;
}

.labels {
    position: absolute;
    left: 0;
    bottom: 5%;
}

.discount, .sustainability {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.discount {
    background-color: red;
}

.sustainability {
    background-color: green;
}

.like-item {
    background-color: white;
    color: black;
    font-size: 2.5rem;
    padding: 5px 25px;

    position: absolute;
    top: 2%;
    right: 0;
}

.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card-media:hover .img-hover {
    display: block;
}

/** GENERICS **/

header {
    background-color: #ff6900;
    padding: 25px 0;
    box-shadow: 1px 1px 10px 1px #555;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
}

/* HEADER */

header a {
    font-size: 1.3rem;
}

header .website-nav a {
    font-weight: bold;
    padding-right: 10px;
}

header img {
    max-width: 10rem;
}

/* MAIN */

main {
    padding: 85px 0 75px 0;
}

.card h4 {
    font-size: 1.2rem;
    font-weight: normal;
}

.card h2 {
    text-transform: uppercase;
}

/* FOOTER */

footer {
    height: 120px;
    background-color: black;
    color: white;
}

footer h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer h4 {
    margin-bottom: 10px;
}

footer a {
    padding-right: 10px;
}

.footer-socials {
    text-align: center;
    font-size: 1.2rem;
}